@model Hotel;

@{
    ViewData["Title"] = "افزودن هتل جدید";
}
<h1 class="row btn btn-primary">@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@

@*<form  method="post" action="/home/CreateHotel">

    <label>
        HotelName
        <input name="HotelName" type="text"/>
    </label>
    <label>
        HotelStar
        <input name="HotelStar" type="text" />
    </label>
    <label>
        HotelBads
        <input name="HotelBads" type="text" />
    </label>
    <label>
        HotelAddress
        <input name="HotelAddress" type="text" />
    </label>
    <button type="submit" class="btn btn-danger">Save</button>

</form>*@